* {  
    box-sizing:border-box;
    
}

html{
    box-sizing:content-box;
}
body{
/*    background-image: url(bg.mp4);*/
    background-size: 100%;
/*    background-color:white;*/
    background-position: center;
    background: url("bg.mp4") no-repeat;
    background-size:cover;
}
.form_container{

    width: 100%;
    padding: 50px;
    background-color: lightsteelblue;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
h1{
    text-align: center;
}

button{
    border-radius: 20px;
	border: 1px solid #566D7E;
	background-color: white;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

