html{
    box-sizing:content-box;
}

body{
/*    background-image: url(field3.jpg);*/
    background-size: 100%;
    background-color:white;
    background-position: center;
    /*background-repeat: no-repeat;        */
}


nav{
    margin-top: 0px;
    background-color: white;
}
.logo{
    float: left;
    margin-top: 0;
}
.logo1{
    max-width: 200px;
    float: left;
}
ul{
    list-style-type: none;
    margin-top: 5px;
    font-size: 20px;
    overflow: hidden;
    position:static;
    float: right;
    width: 100%;
    }
li{
    float: right;
    margin-top: 0;
    }
li a{
    margin-top: 0;
     display: block;
     color:black;
     text-align: center;
     padding: 10px 10px;
     text-decoration: none;
    }
li a:hover{
    background-color:lightblue;
    color:black;
}
.container{
    padding: 30px;
    background-color: lightsteelblue;
    margin: 100px;
    margin-left: 250px;
    border-radius: 5px;
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.5);
    width: 60%;
}
